---
import { metaData, socialLinks } from "../config";
import { Icon } from "astro-icon/components";

const YEAR = new Date().getFullYear();

const socialIcons = [
  { href: socialLinks.github, icon: "fa6-brands:github", label: "Profil na GitHub" },
  { href: socialLinks.instagram, icon: "fa6-brands:instagram", label: "Profil na Instagram" },
  { href: socialLinks.linkedin, icon: "fa6-brands:linkedin-in", label: "Profil na LinkedIn" },
  { href: socialLinks.email, icon: "tabler:mail-filled", label: "Wyślij wiadomość na Email" },
];
---

<footer class="mt-16 lg:mt-24 text-gray-800 dark:text-gray-300 relative" role="contentinfo">
  <small class="text-right">
    <span>© {YEAR}</span>
    {" "}
    <span>
      <a href="/" aria-label="Link do strony głównej" rel="home" class="inline-block py-2 px-3 hover:underline">{metaData.title}</a>
      <a href="/regulamin" aria-label="Link do regulaminu" class="inline-block py-2 px-3 hover:underline">Regulamin</a>
      <a href="/polityka-prywatnosci" aria-label="Link do polityki prywatności" class="inline-block py-2 px-3 hover:underline">Polityka prywatności</a>
    </span>
  </small>

  <nav class="float-left" aria-label="Linki społecznościowe">
    <ul class="flex text-lg gap-4 duration-300 hover:opacity-90 hover:text-underline">
      {
        socialIcons.map((link) => (
          <li class="m-0 p-0">
            <a
              href={link.href}
              target="_blank"
              rel="noopener noreferrer"
              aria-label={link.label}
              class="inline-block p-3"
            >
              <Icon name={link.icon} class="w-6 h-6" aria-hidden="true" />
              <span class="sr-only">{link.label}</span>
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</footer>
